<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @trade.action %>
</p>

<p>
  <strong>Status:</strong>
  <%= @trade.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trade.price %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @trade.shares %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @trade.date_posted.to_date %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @trade.stock_id %>
</p>

<%= link_to 'Edit', [:edit, @stock, @trade] %> |
<%= link_to 'Back', [@stock] %>
